<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="logPath">logs</Property>
        <Property name="filename">app_log.log</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%-5level] %logger{36} - %msg%n"/>
        </Console>
        <File name="MyFile" fileName="${sys:catalina.home}/${logPath}/${filename}" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{HH:mm:ss} [%-5level] %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.epam.cash.register.util.DBUtil" level="TRACE" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="ERROR">
            <AppenderRef ref="MyFile"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>